$colorePrimario: linear-gradient(to left, yellow, orange, red);
$coloreSecondario: linear-gradient(to right, pink , purple);
h1 {
  background: $colorePrimario;
}
h2 {
  background: $coloreSecondario;
}

.#container {
  height: 600px;
  margin: 20px;
  border: 5px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quadrato {
  height: 290px;
  width: 290px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottone {
  height: 50px;
  width: 150px;
}
